@font-face {
    font-family:"PT Serif";
    font-style: normal;
    font-weight: 400;
    src: local("PT Serif"), url(fonts/PTSerif-Regular.woff2) format("woff2");
}
@font-face {
    font-family:"Nunito";
    font-style: normal;
    font-weight: 400;
    src: local(Nunito), url(fonts/Nunito-VariableFont_wght.woff2) format("woff2");
}